doctype html
html(lang=document.lang ? document.lang : false)
  head
    title ololo

  body
    //- - var docs = getCollection("html").toJSON()
    //- ul
    //-   - for doc in docs
    //-     li: a(href=doc.url)= doc.name

    table
      caption metadata
      tr
        th key
        th value
      tr
        td date
        td= document.date
      if document.thanks_to
        tr
          td thanks_to
          td= document.thanks_to
      if document.categories
        tr
          td categories
          td= document.categories

    != content
