-
  var lang = document.lang

  var categories = document.categories
  var page_type = document.type

  var page_class = 'Page_' + document.type

  if (lang) {
    page_class += ' Page_' + lang
  }
  var hasSidenotes = document.content.match(/"Sidenote"/g);
  var hasSidepicture = document.content.match(/"Sidepicture"/g);
  if (hasSidenotes) {
    if (hasSidenotes.length === 1) {
      page_class += ' with-lonely-sidenote'
    }
  } else if (!hasSidepicture) {
      page_class += ' without-sidebar'
  }

  var url = '/' + document.url + (document.url.slice(-1) === '/' ? '' : '/')
  if (url == '//')
    url = '/'

mixin optionalTag(tag, condition)
  if condition
    if tag == 'span'
      span&attributes(attributes)
        block
    else if tag == 'a'
      a&attributes(attributes)
        block
    else
      #{tag}&attributes(attributes)
        block
  else
    block

mixin debug()

  .debug#debug
    .debug-content#debug-active
      table
        tr
          th key
          th value
        tr
          td date
          td= document.date
        tr
          td url
          td= url
        tr
          td prev
          td= document.prev && document.prev.url
        tr
          td next
          td= document.next && document.next.url
        if lang
          tr
            td lang
            td= lang
        if document.availableTranslations
          tr
            td availableTranslations
            td= document.availableTranslations
        if document.thanks_to
          tr
            td thanks_to
            td= document.thanks_to
        if document.categories
          tr
            td categories
            td= document.categories


doctype html
html.Page(class=page_class, lang=lang ? lang : false)

  head
    //- All the important meta stuff
    meta(
      charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width")
    meta(
      http-equiv="X-UA-Compatible",
      content="IE=EmulateIE7,IE=edge")

    //- The title!
    - pageTitle = document.title || "Whatever, no title"
    - pageTitle = pageTitle.replace(/<(?:.|\n)*?>/gm, '');
    title= pageTitle + " — kizu.ru" + (lang == "en" ? "/en" : '')

    //- The link to RSS/Atom
    link(
      rel="alternate",
      type="application/atom+xml",
      title="Atom feed",
      href="http://feeds.feedburner.com/kizu" + (lang == "en" ? "ruen" : ''))

    //- TODO: alternate languages only if page have translation
    //-       make this “have translation” at multilang plugin

    link(
      rel="stylesheet",
      href= "/s/style.css")

  body.Page-Body
    if site.debug
      +debug

    header.Page-Header(role="banner")
      .LiquidLayout
        .LiquidLayout-Content
          h1.Page-Title
            +optionalTag('a', document.type != 'index').Page-Title-Link(href="/" + document.lang_prefix)
              = loc('name')

          //- TODO: add links to translation if there are such
          ul.Page-Languages
            //- TODO: add bemto
            //- TODO: add functions for getting the root of the given lang
            if lang == 'en'
              li.Page-Language.is-current(
                data-short="en")
                = loc('in_lang', 'en')
              li.Page-Language
                if document.translations && document.translations.ru
                  a.Page-Language-Link(
                    data-short="ru",
                    href = url.replace('/en/', '/'))
                    = loc('in_lang', 'ru')
                else
                  a.Page-Language-Link(
                    data-short="ru",
                    title=loc('no_translation', 'ru'),
                    href="/")
                    = loc('in_lang', 'ru') + '*'
            else
              li.Page-Language
                if document.translations && document.translations.en
                  a.Page-Language-Link(
                    data-short="en",
                    href = '/en' + url)
                    = loc('in_lang', 'en')
                else
                  a.Page-Language-Link(
                    data-short="en",
                    title=loc('no_translation', 'en'),
                    href="/en/")
                    = loc('in_lang', 'en') + '*'
              li.Page-Language.is-current(
                data-short="ru")
                = loc('in_lang', 'ru')



    if document.type == 'post'
      article.Page-Content(role="main")
        .LiquidLayout
          .Main.LiquidLayout-Content
            header
              != document.titleHTML
            != document.content

            p.Metadata.Published
              - var published = loc('published')
              = published
              = " "
              = published_format(document.date)
              if document.categories
                = " " + loc('in')
                - for (var i = 0; i < document.categories.length; i++)
                  if i > 0
                    = ","
                  = " "
                  a.Link(href='../')
                    = loc(document.categories[i] + '_in')
                = "."
              else
                if published.indexOf('.') === -1
                  = "."

            if document.metadata.thanks_to
              p.Metadata.ThanksTo
                = loc('thanks_to')
                = " "
                != document.metadata.thanks_to
                = "."

            aside.Feedback
              - var issueTitle = loc('feedback_for') + ' ' + loc('laquo') + document.title + loc('raquo')
              p
                = loc('feedback_text1')
                = " "
                a.Link(href="https://github.com/kizu/kizu.github.com/issues/new?title=" + encodeURIComponent(issueTitle))
                  = loc('feedback_issue')
                = loc('feedback_text2')
                = " "
                a.Link(href=site.srcRoot + document.srcPath)
                  = loc('feedback_edit')
                = "."

    else
      .Page-Content.Main(role="main")
        if document.titleHTML
          header
            != document.titleHTML

        != document.content

    footer.Page-Footer
      .LiquidLayout
        .LiquidLayout-Content
          nav.PrevNext
            if document.prev
              a.Link.Link_wrapper.Link_prev(href='/' + document.prev.url)
                span.Link-Inner
                  = document.prev.title
            if document.next
              a.Link.Link_wrapper.Link_next(href='/' + document.next.url)
                span.Link-Inner
                  = document.next.title
          p.Page-Copy
            +optionalTag('a', document.type != 'index').Link.Link_wrapper(href="/" + document.lang_prefix)
              = "© 2016 "
              +optionalTag('span', document.type != 'index').Link-Inner
                = loc('name')
              = ". "

            a.Link.Link_wrapper(href="https://twitter.com/" + loc('twitter_name'))
              span.Link-Inner
                = loc('twitter_follow')
              = "!"

    script
      include ../../out/j/all.js

    script(src='/j/prism.js')

    script(src="//mc.yandex.ru/metrika/watch.js")
    script(type="text/javascript").
      //<![CDATA[
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter632758 = new Ya.Metrika({id:632758, clickmap:true, trackLinks:true, trackHash:true, webvisor:true}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");
      //]]>
    noscript
      img(src="//mc.yandex.ru/watch/632758", style="position:absolute; left:-9990px;")
