-
  var lang = document.lang
  var lang_prefix = document.lang == docpad.config.plugins.multilang.defaultLanguage ? '' : document.lang

  var categories = document.categories
  var is_post = !!document.categories
  var page_type = 'index'

  if (is_post) {
    page_type = 'post'
  }

  var page_class = 'Page_' + page_type

  if (lang) {
    page_class += ' Page_' + lang
  }


mixin debug()
  //- - var docs = getCollection("html").toJSON()
  //- ul
  //-   - for doc in docs
  //-     li: a(href=doc.url)= doc.name

  .debug#debug
    .debug-content#debug-active
      table
        tr
          th key
          th value
        tr
          td date
          td= document.date
        if site.url
          tr
            td url
            td= site.url
        if site.rootUrl
          tr
            td rootUrl
            td= site.rootUrl
        if lang
          tr
            td lang
            td= lang
        if document.thanks_to
          tr
            td thanks_to
            td= document.thanks_to
        if document.categories
          tr
            td categories
            td= document.categories


doctype html
html.Page(class=page_class, lang=lang ? lang : false)

  head
    //- All the important meta stuff
    meta(
      charset="utf-8")
    meta(
      viewport="width=device-width")
    meta(
      http-equiv="X-UA-Compatible",
      content="IE=EmulateIE7,IE=edge")

    //- The title!
    title= (document.title || "Whatever, no title") + " — kizu.ru" + (lang == "en" ? "/en" : '')

    //- The link to RSS/Atom
    link(
      rel="alternate",
      type="application/atom+xml",
      title="Atom feed",
      href="http://feeds.feedburner.com/kizu" + (lang == "en" ? "ruen" : ''))

    //- TODO: alternate languages only if page have translation
    //-       make this “have translation” at multilang plugin

    //- The styles!
    //- link(
    //-   rel="stylesheet",
    //-   href= site.rootUrl + "s/style.css")
    != getBlock("styles").add(["/s/style.css"]).toHTML()

  body.Page-Body
    +debug

    header.Page-Header(role="banner")
      h1.Page-Title
        //- TODO: Don't show on index page
        a(
          href="/" + lang_prefix
          )= loc('name')

      //- TODO: add links to translation if there are such
      ul.languages
        //- TODO: add bemto
        //- TODO: add functions for getting the root of the given lang
        if lang == 'en'
          li.language.language_current(
            data-short="en")
            = "in english"
          li.language
            a.language__link(
              data-short="ru",
              title="Для этой статьи нет перевод, но для многих других — есть",
              href="/")
              = "по-русски*"
        else
          li.language
            a.language__link(
              data-short="en",
              title="No translation for this article (yet?), but a lot of other english pages are available!",
              href="/en/")
              = "in english*"
          li.language.language_current(
            data-short="ru")
            = "по-русски"




    if is_post
      article.Page-Content(role="main")
        .LiquidLayout
          .Main.LiquidLayout-Content
            header
              h1= document.title
            != content
    else
      .Page-Content.Main(role="main")
        != content

    footer.Page-Footer
      p.Page-Copy
        = "© 2015 " + loc('name') + "."
        a.Link.Link_wrapper.Link_twitter(href="https://twitter.com/" + loc('twitter_name'))
          img.Ico(alt="Twitter", src="http://favicon.yandex.net/favicon/twitter.com", title="Twitter")
          span.Link-Inner
            = loc('twitter_follow')
          = "!"

    != getBlock('scripts').add(["/j/prism.js"]).toHTML()

    //- TODO: Lazy loading the fonts
    //- TODO: Prism.js
    //- TODO: Metrika
