<?xml version="1.0" encoding="utf-8"?>
feed(xmlns="http://www.w3.org/2005/Atom")
  title kizu.ru
  link(href=document.production_url, rel="self")
  link(href=site.production_url + document.lang_prefix)
  updated= (posts[0].updated || posts[0].date) + 'T00:00:00+03:00'
  -
    var feed_id = site.production_url + document.lang_prefix
    if (feed_id == site.production_url) {
      feed_id = site.production_url.slice(0, -1)
    }
  id= feed_id

  author
    name= site.author.name
    email= site.author.email

  - for post in posts
    entry
      title= post.title
      link(href=post.production_url)
      updated= (post.updated || post.date) + 'T00:00:00+03:00'
      id= post.production_url.slice(0, -1)
      content(type="html")
        = post.simpleContent